//colors 
$backgroundColor:#FBFBFB;
$primaryBlue:#39CDCC;
$red: #E4033B;
$green:#39CD62;
$secondaryBlue:#213F7D;
$grey:#545F7D;
$white:#FFFFFF;

//breakpoints for devices

//Mobile Devices
$mobile-min: 320px;
$mobile-max: 480px;


//Mobile Devices
$mobile-min: 320px;
$mobile-max: 480px;